body{
  padding: 0;
  margin: auto;
  background: #2d2d2d;
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: none;

}
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,255);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.bubbles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px; 
  animation-delay: 0;
}
.bubbles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px; 
  animation-delay: 2s;
  animation-duration: 12s;
}
.bubbles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px; 
  animation-delay: 4s;
}
.bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px; 
  animation-delay: 0s;
   animation-duration: 18s;
}
.bubbles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px; 
  animation-delay: 0s;
}
.bubbles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px; 
  animation-delay: 3s;
}
.bubbles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px; 
  animation-delay: 7s;
}
.bubbles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px; 
  animation-delay: 15s;
   animation-duration: 45s;
}
.bubbles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px; 
  animation-delay: 2s;
   animation-duration: 35s;
}
.bubbles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px; 
  animation-delay: 0s;
   animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translatey(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  10% {
    transform: translatey(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
  
}
.city h1
{
    float:none;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    top: 120px;
    font-size: 100px;
    float:none;
    margin: auto;
    display: block;

}
h2
{
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    top: 120px;

}
.button {
    text-align: center;
    padding: 12px 24px;
    border: 1px solid #2b282b;
    border-radius: 13px;
    background: #2b282b;
    background: -webkit-gradient(linear, left top, left bottom, from(#2b282b), to(#2b282b));
    background: -moz-linear-gradient(top, #2b282b, #2b282b);
    background: linear-gradient(to bottom, #2b282b, #2b282b);
    -webkit-box-shadow: #000000 0px 0px 40px 0px;
    -moz-box-shadow: #000000 0px 0px 40px 0px;
    box-shadow: #000000 0px 0px 40px 0px;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    left: 600px;
    top: 200px;
}

